<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="java.util.Date"/>
<bean class="java.util.Date">
	<property name="year" value="110"/>
	<property name="month" value="9"/>
	<property name="date" value="30"/>
</bean>
   <!--Target Bean cfgs  -->
<bean id="wsg" class="com.nt.beans.WishMessageGenerator">
	<property name="date" ref="java.util.Date#0"/>
</bean>
	<!--setter injection  -->
<bean  class="com.nt.beans.WishMessageGenerator">
	<property name="date" ref="java.util.Date#1"/>
</bean>
 
</beans>
