<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Dependent Bean class cfgs -->
		<bean class="java.util.Date" id="dt"/>
	<!-- Target Bean Class cfgs -->
		<bean class="com.nt.beans.WishMessageGenerator" id="wmg" scope="prototype">
			<property name="date" ref="dt"/>
			<!-- setter injection -->
		</bean>
		<bean class="com.nt.beans.Printer" id="pu" scope="singleton"/>
</beans>
