<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpringSecurityApp1-NonMVCApp/src/main/java/com/nt/encoder/PasswordEncoder.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.nt.encoder.PasswordEncoder"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpringSecurityApp1-NonMVCApp"/>
</launchConfiguration>
