<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Dependent cfgs -->
<bean id="cng" class="com.nt.beans.CNGEngine"/>
<bean id="diseal" class="com.nt.beans.DisealEngine" />
<bean id="petrol" class="com.nt.beans.PetrolEngine"/>
	<!-- Target cfgs -->	
<bean id="vehicle" class="com.nt.beans.Vehicle">
	<property name="engine" ref="petrol"/>
</bean>	

</beans>
