<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
<property name="username" value="scott"/>
<property name="password" value="tiger"/>
</bean>
	<!-- DAO cfgs -->
<bean id="stdao" class="com.nt.dao.StudentDAOImp">
<constructor-arg ref="drds"></constructor-arg>
</bean>

<bean id="stcontroller" class="com.nt.controller.StudentController">
	<constructor-arg>
		<bean class="com.nt.service.StudentServiceImpl">
			<constructor-arg ref="stdao"/>
		</bean>
	</constructor-arg>
</bean>

</beans>
